@font-face {
  font-family: RobotoCondensedRegular;
  src: url(src/assets/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensedBold;
  src: url(src/assets/fonts/RobotoCondensed-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: RobotoCondensedRegular;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}